In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 15.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mada:mada@mada.0apxg.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

NameError: name 'collection' is not defined

In [ ]:
# Contoh Insert Data
employee_data = [
    {'name': 'Alice', 'department': 'Finance', 'age': 22, 'salary': 4500},
    {'name': 'Benjamin', 'department': 'Finance', 'age': 54, 'salary': 3500},
    {'name': 'Hymp', 'department': 'Finance', 'age': 27, 'salary': 4500},
    {'name': 'Mamat', 'department': 'Finance', 'age': 40, 'salary': 4000},
    {'name': 'Sultam', 'department': 'Finance', 'age': 34, 'salary': 5500}
]

collection.insert_many(employee_data)
print('Data inserted')

NameError: name 'collection' is not defined

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6725e75b1bf42f1ff2667370'), 'name': 'Alice', 'department': 'Finance', 'age': 22, 'salary': 4500}
{'_id': ObjectId('6725e75b1bf42f1ff2667371'), 'name': 'Ishtar', 'department': 'Finance', 'age': 24, 'salary': 4500}
{'_id': ObjectId('6725e75b1bf42f1ff2667372'), 'name': 'Ereshkigal', 'department': 'Finance', 'age': 23, 'salary': 4500}
{'_id': ObjectId('6725e75b1bf42f1ff2667373'), 'name': 'Enkidu', 'department': 'Finance', 'age': 40, 'salary': 7000}
{'_id': ObjectId('6725e75b1bf42f1ff2667374'), 'name': 'Quetzalcoatl', 'department': 'Finance', 'age': 24, 'salary': 4500}
{'_id': ObjectId('6725e7691bf42f1ff2667375'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [ ]:
result = collection.delete_one({'name': 'Alice'})
print(f"Deleted {result.deleted_count} document(s)")

Deleted 1 document(s)

In [ ]:
# Update Alice's salary to 5000
result = collection.update_one({'name': 'Alice'}, {'$set': {'salary': 5000}})
result = collection.update_one({'name': 'Alice'}, {'$set': {'age': 22}})
print(f"Updated {result.modified_count} document(s)")

Updated 1 document(s)

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6725e75b1bf42f1ff2667371'), 'name': 'Ishtar', 'department': 'Finance', 'age': 24, 'salary': 4500}
{'_id': ObjectId('6725e75b1bf42f1ff2667372'), 'name': 'Ereshkigal', 'department': 'Finance', 'age': 23, 'salary': 4500}
{'_id': ObjectId('6725e75b1bf42f1ff2667373'), 'name': 'Enkidu', 'department': 'Finance', 'age': 40, 'salary': 7000}
{'_id': ObjectId('6725e75b1bf42f1ff2667374'), 'name': 'Quetzalcoatl', 'department': 'Finance', 'age': 24, 'salary': 4500}
{'_id': ObjectId('6725e7691bf42f1ff2667375'), 'name': 'Alice', 'department': 'Finance', 'age': 22, 'salary': 5000}

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 5100.0}

*Latihan 4*

In [ ]:
#Latihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).

from pymongo import MongoClient

# Koneksi ke database
client = MongoClient('mongodb+srv://mada:mada@mada.0apxg.mongodb.net/')
db = client['toko_online']
collection = db['products']

# Data produk
products = [
    {'name': 'Smartphone A', 'price': 3000000, 'category': 'Elektronik'},
    {'name': 'Smartphone B', 'price': 4000000, 'category': 'Elektronik'},
    {'name': 'Smartphone C', 'price': 5000000, 'category': 'Elektronik'},
    {'name': 'Smartphone D', 'price': 6000000, 'category': 'Elektronik'},
    {'name': 'Laptop A', 'price': 7000000, 'category': 'Elektronik'},
    {'name': 'Laptop B', 'price': 8000000, 'category': 'Elektronik'},
    {'name': 'Laptop C', 'price': 9000000, 'category': 'Elektronik'},
    {'name': 'Laptop D', 'price': 1000000, 'category': 'Elektronik'},
    {'name': 'Buku A', 'price': 100000, 'category': 'Buku'},
    {'name': 'Buku B', 'price': 110000, 'category': 'Buku'},
    {'name': 'Buku C', 'price': 115000, 'category': 'Buku'},
    {'name': 'Buku D', 'price': 120000, 'category': 'Buku'},
]

# Masukkan data ke dalam koleksi
result = collection.insert_many(products)
print(f"Inserted {len(result.inserted_ids)} products")

Inserted 12 products

In [ ]:
# Hitung rata-rata harga
average_price = collection.aggregate([
    {'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}
])
average_price = list(average_price)[0]['avg_price']

# Temukan produk dengan harga di atas rata-rata
result = collection.find({'price': {'$gt': average_price}})
for product in result:
    print(product)

{'_id': ObjectId('6721b2797abb44fd641fb23a'), 'name': 'Smartphone B', 'price': 4000000, 'category': 'Elektronik'}
{'_id': ObjectId('6721b2797abb44fd641fb23b'), 'name': 'Smartphone C', 'price': 5000000, 'category': 'Elektronik'}
{'_id': ObjectId('6721b2797abb44fd641fb23c'), 'name': 'Smartphone D', 'price': 6000000, 'category': 'Elektronik'}
{'_id': ObjectId('6721b2797abb44fd641fb23d'), 'name': 'Laptop A', 'price': 7000000, 'category': 'Elektronik'}
{'_id': ObjectId('6721b2797abb44fd641fb23e'), 'name': 'Laptop B', 'price': 8000000, 'category': 'Elektronik'}
{'_id': ObjectId('6721b2797abb44fd641fb23f'), 'name': 'Laptop C', 'price': 9000000, 'category': 'Elektronik'}

In [ ]:
result = collection.aggregate([
    {'$group': {'_id': '$category', 'total': {'$sum': 1}}}
])

for product_count in result:
    print(f"Kategori: {product_count['_id']}, Total Produk: {product_count['total']}")

Kategori: Buku, Total Produk: 4
Kategori: Elektronik, Total Produk: 8

In [ ]:
# Cari 5 karyawan dengan gaji tertinggi di setiap departemen
pipeline = [
    {
        "$group": {
            "_id": "$department",
            "top_employees": {
                "$push": {
                    "name": "$name",
                    "salary": "$salary"
                }
            }
        }
    },
    {
        "$project": {
            "_id": 1,
            "top_employees": {
                "$slice": ["$top_employees", -5]
            }
        }
    }
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Finance', 'top_employees': [{'name': 'Alice', 'salary': 5000}, {'name': 'Ishtar', 'salary': 4500}, {'name': 'Ereshkigal', 'salary': 4500}, {'name': 'Enkidu', 'salary': 7000}, {'name': 'Quetzalcoatl', 'salary': 4500}]}

In [ ]:
result = collection.delete_many({"age": {"$lt": 25}})

print(f"Jumlah karyawan yang dihapus: {result.deleted_count}")

Jumlah karyawan yang dihapus: 4

In [ ]:
remaining_employees = collection.find({"age": {"$lt": 25}})
print("Karyawan yang masih di bawah 25 tahun:")
for employee in remaining_employees:
    print(employee)

for employee in collection.find():
    print(employee)

Karyawan yang masih di bawah 25 tahun:
{'_id': ObjectId('6721b9a77abb44fd641fb24b'), 'name': 'Enkidu', 'department': 'Finance', 'age': 40, 'salary': 7000}

In [ ]:
pipeline = [
    {
        "$group": {
            "_id": "$department",  # Kelompokkan berdasarkan departemen
            "total_salary": {"$sum": "$salary"},  # Hitung total gaji
            "average_age": {"$avg": "$age"}  # Hitung rata-rata umur
        }
    },
    {
        "$project": {
            "_id": 1,
            "total_salary": 1,
            "average_age": {"$round": ["$average_age", 2]}  # Membulatkan rata-rata umur hingga 2 desimal
        }
    }
]

result = list(collection.aggregate(pipeline))

# Tampilkan laporan
for department in result:
    print(f"Departemen: {department['_id']}, Total Gaji: {department['total_salary']}, Rata-rata Umur: {department['average_age']}")

Departemen: Finance, Total Gaji: 25000, Rata-rata Umur: 26.6